<div class="app-container">
  <main>
    <ng-container *ngIf="gameState$ | async as state">
      <!-- Lobby -->
      <app-lobby *ngIf="!state.gameStarted"></app-lobby>

      <!-- Game in Progress -->
      <ng-container *ngIf="state.gameStarted && !state.gameEnded">
        <!-- Role Reveal -->
        <app-role-reveal *ngIf="state.revealingRoleToPlayer !== null"></app-role-reveal>

        <!-- Game Board -->
        <app-game *ngIf="state.revealingRoleToPlayer === null"></app-game>
      </ng-container>

      <!-- End Screen -->
      <app-end-screen *ngIf="state.gameEnded"></app-end-screen>
    </ng-container>
  </main>
</div>
